.shelter-table-animal{
    
    &__box{
        background-color: var(--background-primary);
        padding: var(--spacing-size-md);
        border-radius: 12px;
    }

    &__header{
        margin-bottom: var(--spacing-size-sm);
    }

    &__pagination{
        margin-top: 16px;
        overflow-x: scroll;
        padding-bottom: 15px;

        > ul {
            flex-wrap: nowrap;
        }
    }

    &__row{
        button {
            font-weight: 600;
            text-transform: initial;
            font-size: 16px;
            color: var(--blue-color);
        }
    }
}

@media screen and (min-width: 560px) {
    .shelter-table-animal{
        &__pagination{
            overflow-x: hidden;
            padding-bottom: 0px;
        }
    }
}